@import "../../global.scss";
li {
  overflow: hidden;
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
